/*/*
!*/*.env
!*/*.env.secret

# This is not necessary with the wildcard used in the first line, but it is clearer
/swag/*
!/swag/nginx/

/swag/nginx/*
!/swag/nginx/proxy-confs/

/swag/nginx/proxy-confs/*.sample
/swag/nginx/proxy-confs/README.md
