/calibre-web/
/freshrss/
/gitea/
/library
/books_to_add
/comics
/comixed/
/tenma
/pyload
/transmission
/jackett
/sonarr
/radarr
/bazarr
/quassel
/lidarr
/grocy
/emby
embystat
/airsonic
sabnzbd
nzbhydra2

/letsencrypt/*
!/letsencrypt/nginx/

/letsencrypt/nginx/*
!/letsencrypt/nginx/proxy-confs/

/letsencrypt/nginx/proxy-confs/*.sample
/letsencrypt/nginx/proxy-confs/README.md
