/*/*
!*/*.env
/*/*.env.secret # Just to document that they should definitely never be added

# This is not necessary with the wildcard used in the first line, but it is clearer
/letsencrypt/*
!/letsencrypt/nginx/

/letsencrypt/nginx/*
!/letsencrypt/nginx/proxy-confs/

/letsencrypt/nginx/proxy-confs/*.sample
/letsencrypt/nginx/proxy-confs/README.md
